# Handle text files - normalize line endings
* text=auto

# Treat Python files as text
*.py text

# Prevent diff on images
*.png binary
*.jpg binary

# Custom diff for Jupyter Notebooks (if you're using data projects)
*.ipynb filter=nbstripout
